<!DOCTYPE html>
    <head>
    {% include "stylesheet.html.twig" %}
    </head>
    <body>
        <div class='background-image'></div>
        <div class='content-container'>
            <div class='static-box'>
                Rob Strong
                <br>
                Web Developer 
            </div>
            <div class='flip-box-container'>
                <div class='flip-box flip-box-front'>
                    About Me
                </div>
                <div class='flip-box flip-box-back'>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dolor turpis, posuere in pharetra eu, egestas at purus. Mauris euismod est eu neque suscipit vitae congue nulla luctus. Aliquam vel purus at est tempor viverra a vel odio. Sed nisl lorem, eleifend sed vehicula a, rutrum id dolor. Sed ut porttitor nibh. In id risus non neque porta congue. In hac habitasse platea dictumst. Cras porttitor vestibulum scelerisque. Fusce mollis lorem at leo egestas fringilla. Phasellus ornare mauris vel nulla porttitor pulvinar.

                </div>
            </div>
            <div class='flip-box-container'>
                <div class='flip-box flip-box-front'>
                    Blog
                </div>
                <div class='flip-box flip-box-back'>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dolor turpis, posuere in pharetra eu, egestas at purus. Mauris euismod est eu neque suscipit vitae congue nulla luctus. Aliquam vel purus at est tempor viverra a vel odio. Sed nisl lorem, eleifend sed vehicula a, rutrum id dolor. Sed ut porttitor nibh. In id risus non neque porta congue. In hac habitasse platea dictumst. Cras porttitor vestibulum scelerisque. Fusce mollis lorem at leo egestas fringilla. Phasellus ornare mauris vel nulla porttitor pulvinar.
                </div>
            </div>
            <div class='flip-box-container'>
                <div class='flip-box flip-box-front'>
                    Job History
                </div>
                <div class='flip-box flip-box-back'>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dolor turpis, posuere in pharetra eu, egestas at purus. Mauris euismod est eu neque suscipit vitae congue nulla luctus. Aliquam vel purus at est tempor viverra a vel odio. Sed nisl lorem, eleifend sed vehicula a, rutrum id dolor. Sed ut porttitor nibh. In id risus non neque porta congue. In hac habitasse platea dictumst. Cras porttitor vestibulum scelerisque. Fusce mollis lorem at leo egestas fringilla. Phasellus ornare mauris vel nulla porttitor pulvinar.
                </div>
            </div>
            <div class='flip-box-container'>
                <div class='flip-box flip-box-front'>
                    Experience
                </div>
                <div class='flip-box flip-box-back'>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dolor turpis, posuere in pharetra eu, egestas at purus. Mauris euismod est eu neque suscipit vitae congue nulla luctus. Aliquam vel purus at est tempor viverra a vel odio. Sed nisl lorem, eleifend sed vehicula a, rutrum id dolor. Sed ut porttitor nibh. In id risus non neque porta congue. In hac habitasse platea dictumst. Cras porttitor vestibulum scelerisque. Fusce mollis lorem at leo egestas fringilla. Phasellus ornare mauris vel nulla porttitor pulvinar.
                </div>
            </div>
            <div class='flip-box-container'>
                <div class='flip-box flip-box-front'>
                    Contact
                </div>
                <div class='flip-box flip-box-back'>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dolor turpis, posuere in pharetra eu, egestas at purus. Mauris euismod est eu neque suscipit vitae congue nulla luctus. Aliquam vel purus at est tempor viverra a vel odio. Sed nisl lorem, eleifend sed vehicula a, rutrum id dolor. Sed ut porttitor nibh. In id risus non neque porta congue. In hac habitasse platea dictumst. Cras porttitor vestibulum scelerisque. Fusce mollis lorem at leo egestas fringilla. Phasellus ornare mauris vel nulla porttitor pulvinar.
                </div>
            </div>
        </div>
    </body>
</html>
